<a href="https://colab.research.google.com/github/jayodele10/PythonPDC/blob/students/Solutions_to_Intro_to_Python_PDC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basics: Print Function

In [ ]:
# examples using the print function
print("Introduction", "to", "python", "programming")
print("Introduction", "to", "python", "programming", sep=" ", end="\n")
print("Introduction", "to", "python", "programming", sep="\t", end="!")
print("Introduction", "to", "python", "programming", sep="\n")

Introduction to python programming
Introduction to python programming
Introduction	to	python	programming!Introduction
to
python
programming

## Python Basics: Errors

In [ ]:
print("Hello, world!"

SyntaxError: incomplete input (<ipython-input-4-ec501c8f224c>, line 1)

The traceback explains to us that Python has encountered a syntax error, and point to the line where the error occured.

## Variables and Data types in Python

### Types in Python

In [ ]:
# displays the object type
print(type(4))
print(type("python"))

<class 'int'>
<class 'str'>

In [ ]:
# isinstance checks if the first argument is an instance of the second argument
print(isinstance(4, int))

True

## Variables

In [ ]:
# assign a value to a variable
my_name = "Josh"
print(my_name)
print("Hello,", my_name)

Josh
Hello, Josh

In [ ]:
# what happens if you try to declare a variable which has not been defined
print(my_other_name)

NameError: name 'my_other_name' is not defined

The Traceback throws a NameError, which suggest the variable 'my_other_name' is not yet defined.

In [ ]:
# print the sum of a and b is c
a = 12
b= 14
c = a + b
print("the sum of", a, "and", b, "is", c)

the sum of 12 and 14 is 26

In [ ]:
# multiple variable definition in one line
x,y = 8,6
print(x)
print(y)

8
6

## Number Types: Integers and Floats

In [ ]:
# operations with integers and floats
print(5 + 5)
print(5 + 6.0)
print(2**4)
print(5/2)
print(5//2)
print(5 % 2)

10
11.0
16
2.5
2
1

#### Augmented assignment operators

In [ ]:
# augmented assignment
a = 6
a +=5
print(a)

11

## Strings

In [ ]:
# single quotes, double quotes, triple quotes
print('Single quotes allow you to embed "double quotes" in your string')
print("Double quotes allow you to embed 'single quotes' in your string")
print("""Triple quotes allow you to embed 'single' and
"double" quotes in your string, as well as print multiple lines
in one string""")

Single quotes allow you to embed "double quotes" in your string
Double quotes allow you to embed 'single quotes' in your string
Triple quotes allow you to embed 'single' and
"double" quotes in your string, as well as print multiple lines
in one string

In [ ]:
# any value enclosed in quotes is a string
y = '4'
print(type(y))

<class 'str'>

In [ ]:
# converting a string to an integer
x = int(4)
print(type(x))

<class 'int'>

In [ ]:
# escape sequences using backward slash
print('don\'t')

don't

In [ ]:
print("""\t\t\t\tPDC Course: Introduction to Python Programming
This course introduces you to the fundamentals of writing python programs. During the course, you will learn concepts such as "Lists", "Dictionaries", and also learn to work with the 'Pandas' library.
Good luck!
""")

				PDC Course: Introduction to Python Programming
This course introduces you to the fundamentals of writing python programs. During the course, you will learn concepts such as "Lists", "Dictionaries", and also learn to work with the 'Pandas' library.
Good luck!

In [ ]:
print("\t\t\tPDC Course: Introduction to Python Programming \nThis course introduces you to the fundamentals of writing python programs. During the course, you will learn concepts such as \"Lists\", \"Dictionaries\", and also learn to work with the 'Pandas' library. \nGood luck!")

			PDC Course: Introduction to Python Programming
This course introduces you to the fundamentals of writing python programs. During the course, you will learn concepts such as "Lists", "Dictionaries", and also learn to work with the 'Pandas' library.
Good luck!.

#### String Slicing

In [ ]:
word = "chocolate."

In [ ]:
print(word[3], word[5])

c l

In [ ]:
## solution
snack = "milky way."

# extract the first two elements of the string
print(snack[:2])

# extract the substring 'way' from the string
print(snack[-4:-1])

mi

#### String concatenation and string duplication

In [ ]:
# concatenating strings
first_name = "Hertie"
last_name = " School"
full_name = first_name + last_name
print(full_name)

# duplicating strings
duplicate_name = (full_name + ' ') * 3
print(duplicate_name)

Hertie School
Hertie School Hertie School Hertie School

In [ ]:
#solution

  first_name last_name     full_name
0     Hertie    School  HertieSchool
1     London    School  LondonSchool

In [ ]:
string1 = "Hertie"
string2 = " School"
string3 = string1 + string2

In [ ]:
print(string3*3)

Hertie SchoolHertie SchoolHertie School

In [ ]:
# solution
place= "Hertie School"
print(place.replace("School", "Lab"))
print(place[0:6]+ " Lab")

Hertie Lab
Hertie Lab

#### String Interpolation

In [ ]:
name = "Olaf Scholz"
age = 64

print(name, ", the chancellor of Germany is", age, "years old.")

# format method
print("{}, the chancellor of Germany is {} years old.".format(name, age))

# f-string
print(f"{name}, the chancellor of Germany is {age} years old.")

Olaf Scholz , the chancellor of Germany is 64 years old.
Olaf Scholz, the chancellor of Germany is 64 years old.
Olaf Scholz, the chancellor of Germany is 64 years old.

In [ ]:
place = "Hertie School"
place2 = "club"
print("I go to", place, "everday")
print("I go to {} and {} everyday".format(place, place2))
print(f"I go to {place} and {place2} everyday")

I go to Hertie School everday
I go to Hertie School and club everyday
I go to Hertie School and club everyday

## Input Function: Let's play a game

In [5]:
## code that creates the guessing game

import random
import math
from IPython.display import HTML as html_print, display

def cstr(s, color):
    return "<text style=color:{}>{}</text>".format(color, s)


def guessing_game():
    # rules of the game
    print("This is a number guessing game in which the user:")
    print("\t\u2022 selects a range, i.e., from A to B where A and B are integers.")
    print("""\t\u2022 Some random number (integer) will be selected by the program and the
    user has to guess that integer in the minimum number of guesses\n""")

    def _check_input(x):
        """This function checks that the input supplied is an integer"""
        try:
            if x.isdigit == False:
                raise ValueError(f"""Input expected an integer, but you have entered
                a {type(x)}.""")
            else:
                x = int(x)
        except:
            x = input(f'Please enter an integer: ')
            x = int(x)
        return x
    # collect inputs using Standard Input
    lower_bound = input("Enter Lower bound: ")
    lower_bound = _check_input(lower_bound)
    upper_bound = input("Enter Upper bound: ")
    upper_bound = _check_input(upper_bound)

    #generate random number between the lower and upper limits
    num = random.randint(lower_bound, upper_bound)
    num_guesses = round(math.log(upper_bound - lower_bound +1, 2))
    display(html_print(cstr("\nYou have only " + str(num_guesses) + " chances to guess the integer!\n\n", color='blue')))

    #initilaize the number of guesses
    count = 0
    while count <= num_guesses:
        count += 1
        if count > num_guesses:
            display(html_print(cstr("\n\nThe number is " + str(num) + ". Better Luck next time!", 'blue')))
            break

        # take first guess as input
        guess = input("Guess a number: ")
        guess = _check_input(guess)
        trial_option = ' trial.' if count == 1 else ' trials.'

        if num == guess:
            display(html_print(cstr("\n\nCongratulations! You guessed the number correctly in " + str(count) +
            trial_option, 'green')))
            # breaks the loop
            break
        elif num > guess:
            display(html_print(cstr("Nice try, but you guessed too small! Try again.", 'red')))
        elif num < guess:
            display(html_print(cstr("Nice try, but you guessed too high! Try again.", 'red')))

In [ ]:
guessing_game()

This is a number guessing game in which the user:
	• selects a range, i.e., from A to B where A and B are integers.
	• Some random number (integer) will be selected by the program and the
    user has to guess that integer in the minimum number of guesses

Enter Lower bound: 5
Enter Upper bound: 30

Guess a number: 10

Guess a number: 15

Guess a number: 20

Guess a number: 25

Guess a number: 27

In [ ]:
# collecting user input
input()

5

'5'

In [ ]:
# you can add a prompt to your input
input("How would you rate your day on a scale of 1 to 10? ")

How would you rate your day on a scale of 1 to 10? 5

'5'

In [ ]:
# you can also assign the value read from the standard input to a variable
day_rating = input("How would you rate your day on a scale of 1 to 10? ")
print(f"You feel like a {day_rating} today. Thanks for letting me know.")

How would you rate your day on a scale of 1 to 10? 7
You feel like a 7 today. Thanks for letting me know.

In [ ]:
my_name = input("What is your name? ")
print(f"Hey {my_name}. Welcome to Hertie School")

What is your name? Joshua
Hey Joshua. Welcome to Hertie School

In [ ]:
# building a conversational chat box
name = input("What is your name? ")
print(f"Hey {name}. On a scale of 1-10, how are you feeling today?")
response = input()
print(f"Oh {name}! {response} is the way I'm also feeling today. We are in sync!")

What is your name? Helen
Hey Helen. On a scale of 1-10, how are you feeling today?
8
Oh Helen! 8 is the way I'm also feeling today. We are in sync!

In [ ]:
# reading an integer from input
age = int(input("What is your age? "))
print(f"This means that in 5 years time, you will be {age+5} years old.")

What is your age? 20
This means that in 5 years time, you will be 25 years old.

In [ ]:
bill = float(input("The total bill is: "))
print(f"A 15% tip equals {0.15 * bill}, while a 20% tip equals {0.20 * bill}")

The total bill is: 150
A 15% tip equals 22.5, while a 20% tip equals 30.0

## Booleans

In [ ]:
# booleans
over_18 = True
print(type(over_18))
over_21 = False
print(isinstance(over_21, bool))

<class 'bool'>
True

In [ ]:
# categorize an individual as being over 18 and not over 21
over_18, over_18_21 = True, False

print(over_18 and over_21)
print(over_18 or over_21)
print(not over_18)
print(not over_21 or (over_21 or over_18))

False
True
False
True

## Comparison Operators

In [ ]:
# set a variable age to 20
age =20

# check whether age is less than 13
print(age < 13)

# check whether age is greater than or equal to 20 and less than or equal to 21
print(age >=20 and age <=21)

# check whether age is not equivalent to 21
print(age != 21)

# check whether someone is in their 30's
print(30 <= age < 40)

False
True
True
False

## Conditionals

In [ ]:
# old enough to vote
age = 20
if age >=18 and age < 21:
    print("At least you can vote.")
    print("Poker will have to wait")

In [ ]:
# old enough to vote?
age = 20
if age < 18:
    print("You aren't old enough to vote.")
else:
    print("Welcome to our voting program")

In [ ]:
#elif statement
import random
mood = input("On a scale of 1-3, what is your mood? ")
mood = int(mood)
print("I sense your energy. Your true emotions are coming across my screen...")
if mood == 3:
    print("You are happy")
elif mood == 2:
    print("You are neutral")
elif mood == 1:
    print("You are sad")
else:
    print("Illegal mood value!")

On a scale of 1-3, what is your mood? 5
I sense your energy. Your true emotions are coming across my screen...
Illegal mood value!

In [ ]:
# nested conditionals: to the club or not
age = 20
have_a_car = False

if age > 18:
    print("You are permitted to go to the club.")
    if have_a_car:
        print("And you can come along with us to the club.")
    else:
        print("But you can't come along with us to the club.")
elif 18 >= age < 21:
    print("But you are not permitted to drink in the club.")
else:
    print("You are not permitted to go to the club")

In [ ]:
second_chat_box()

How intelligent are you? 0 is very dumb. And 10 is a genius
7
Are you human by chance? Wait. Don't answer that.
How human are you? 0 is not at all and 10 is human all the way.
6
I think this date is over.

## Flow Control

### While Loops

In [ ]:
# 1: define the variable
number = 1

# 2: set up the condition
while number <= 20:
    #3: provide the instruction
    print(number)
    # 4: increment
    number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
## print the even numbers between 1 and 20
# take user input
number = 1

# condition of the while loop
while number <= 20:
    # find the mode of 2
    if number % 2 == 0:
        print(number)
    number += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print the first number greater than 100 that is divisible by 17
number = 100

while number >= 100:
    if number % 17 == 0:
        print(number)
        break
    number += 1

102

### for Loop

In [ ]:
# print each character of a string
for index in 'Berlin':
    print(index)

B
e
r
l
i
n

In [ ]:
# what is wrong with this code?
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
# print out the first 10 numbers starting at 0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# create a sequence of numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#create a sequence of numbers from 1 to 10 but increment by 2
for i in range(1,11,2):
    print(i)

1
3
5
7
9

#### the continue keyword

In [ ]:
# print out every two-digit prime number
for num in range(10,100):
    if (num % 2 == 0) or (num % 3 == 0) or (num % 5 == 0)or (num % 7 == 0):
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Data Structures

## Lists

In [ ]:
# initializing an empty list
my_list = []
print(type(my_list))

<class 'list'>

In [ ]:
your_list = []
print(type(your_list))

<class 'list'>

In [ ]:
# initializing a list with some elements
shopping = ["bread", "eggs", "milk"]
print(type(shopping))
print(shopping)

mixed_list = [True, 112, "shopping"]
print(mixed_list)

<class 'list'>
['bread', 'eggs', 'milk']
[True, 112, 'shopping']

#### Basic List operations

In [ ]:
# create a list with some items and print the items using a for loop
shopping_list = ["bread", "milk", "eggs"]
for item in shopping_list:
    print(item)

bread
milk
eggs

In [ ]:
# get the length of a list
print(f"You have {len(shopping_list)} items in your shopping list")

You have 3 items in your shopping list

In [ ]:
# check if an item is in a list
'sugar' in shopping_list

False

In [ ]:
# get the first item in a list
shopping[0]

'bread'

In [ ]:
# get the last items in a list
print(f"The last item in the shopping list is {shopping[-1]}")

The last item in the shopping list is eggs

In [ ]:
#concatenating a list
my_list = ["eggs", "bread", "milk"]
your_list = ["water", "chips"]
our_list = my_list + your_list
print(our_list)

['eggs', 'bread', 'milk', 'water', 'chips']

In [ ]:
# create a todo list
todo_list = ["code", "read", "meet friends"]

# add a few more to dos
todo_list.extend(["paint", "sight-seeing"])
print(todo_list)

['code', 'read', 'meet friends', 'paint', 'sight-seeing']

In [ ]:
#print out the first three items on the list
todo_list[:3]

['code', 'read', 'meet friends']

In [ ]:
# add a new item to the list at index 0
todo_list.insert(0, "take a break")
todo_list

['take a break', 'code', 'read', 'meet friends', 'paint', 'sight-seeing']

In [ ]:
#remove sight-seeing from the list
todo_list.index("sight-seeing")

5

In [ ]:
todo_list.pop(todo_list.index("sight-seeing"))

'sight-seeing'

In [ ]:
todo_list

['take a break', 'code', 'read', 'meet friends', 'paint']

In [ ]:
#print out the number of items on the list
len(todo_list)

5

In [ ]:
group_one = ['Germany', 'Brazil', 'England', 'Canada']
group_two = ['Portugal', 'Morocco', 'Japan', 'Ghana']
group_one.extend(group_two)
print(group_one)
fixtures_list = []
for countryA in group_one:
    for countryB in group_one:
        if (countryA, countryB) in fixtures_list or (countryB, countryA) in fixtures_list:
            continue
        elif countryA != countryB:
            fixtures_list.append((countryA, countryB))

print(fixtures_list)

['Germany', 'Brazil', 'England', 'Canada', 'Portugal', 'Morocco', 'Japan', 'Ghana']
[('Germany', 'Brazil'), ('Germany', 'England'), ('Germany', 'Canada'), ('Germany', 'Portugal'), ('Germany', 'Morocco'), ('Germany', 'Japan'), ('Germany', 'Ghana'), ('Brazil', 'England'), ('Brazil', 'Canada'), ('Brazil', 'Portugal'), ('Brazil', 'Morocco'), ('Brazil', 'Japan'), ('Brazil', 'Ghana'), ('England', 'Canada'), ('England', 'Portugal'), ('England', 'Morocco'), ('England', 'Japan'), ('England', 'Ghana'), ('Canada', 'Portugal'), ('Canada', 'Morocco'), ('Canada', 'Japan'), ('Canada', 'Ghana'), ('Portugal', 'Morocco'), ('Portugal', 'Japan'), ('Portugal', 'Ghana'), ('Morocco', 'Japan'), ('Morocco', 'Ghana'), ('Japan', 'Ghana')]

In [ ]:
group_one = ['Germany', 'Brazil', 'England', 'Canada']
group_two = ['Portugal', 'Morocco', 'Japan', 'Ghana']

for x in group_one:
    for y in group_two:
        print(x,y)
    if x == y:
        continue
        print(x,y)

Germany Portugal
Germany Morocco
Germany Japan
Germany Ghana
Brazil Portugal
Brazil Morocco
Brazil Japan
Brazil Ghana
England Portugal
England Morocco
England Japan
England Ghana
Canada Portugal
Canada Morocco
Canada Japan
Canada Ghana

## Dictionaries

In [ ]:
# create a dictionary
employee = {"name": "Jake", "age": 32, "salary": 50000}

In [ ]:
# access a dictionary element using its key
employee['age']

32

In [ ]:
# what happens if you try accessing a dictionary using a non-existent key?
employee["department"]

KeyError: 'department'

In [ ]:
# accessing a dictionary using the get method
employee.get("age")

32

In [ ]:
# using .get() to access a non-existent key
employee.get("department", 0)

#### modifying a dictionary

In [ ]:
# add a new element to a dictionary
employee["department"] = "Sales"

# replace a key-value pair
employee["age"] = 42

print(employee)

{'name': 'Jake', 'age': 42, 'salary': 50000, 'department': 'Sales'}

In [ ]:
# delete a dictionary element
del employee["department"]
print(employee)

{'name': 'Jake', 'age': 42, 'salary': 50000}

In [ ]:
# return all the keys of a dictionary
emp_keys = employee.keys()
print(emp_keys)
# convert the collection of the dictinary keys into a list
print(type(emp_keys))
emp_keys = list(emp_keys)
print(emp_keys)
print(type(emp_keys))

dict_keys(['name', 'age', 'salary'])
<class 'dict_keys'>
['name', 'age', 'salary']
<class 'list'>

In [ ]:
# return all the values of a dictionary
emp_values = employee.values()
print(emp_values)
# convert to a list
print(list(emp_values))

dict_values(['Jake', 42, 50000])
['Jake', 42, 50000]

In [ ]:
# iterating through a dictionary keys
for k in employee.keys():
    print(k)

name
age
salary

In [ ]:
# iterating through a dictionary's values
for v in employee.values():
    print(v)

Jake
42
50000

In [ ]:
# iterating through the key-value pairs
for k, v in employee.items():
    print(f"The value of key {k} is {v}")

The value of key name is Jake
The value of key age is 42
The value of key salary is 50000

In [ ]:
# creating a dictionary from two lists
names = ['Jake', 'Paul', 'Jane']
ages = [32, 35, 40]

info = dict(zip(names, ages))
print(info)

{'Jake': 32, 'Paul': 35, 'Jane': 40}

In [ ]:
# looping through a dictionary using its keys
for key in info.keys():
    print(f"{key} is the key for value {info[key]}")

Jake is the key for value 32
Paul is the key for value 35
Jane is the key for value 40

In [ ]:
info.items()

dict_items([('Jake', 32), ('Paul', 31), ('Jane', 40)])

In [ ]:
# looping through a dictionary's values
for v in info.values():
    print(v)

32
35
40

In [ ]:
# looping through a dictionary's key-value pairs using .items()
for k,v in info.items():
    print(f"{k} will be {v+10} years old in 10 years")

Jake will be 42 years old in 10 years
Paul will be 41 years old in 10 years
Jane will be 50 years old in 10 years

In [ ]:
## solution to travel plan exercise
countries = ['Japan', 'Kenya', 'Germany', "Canada"]
continents = ['Asia', 'Africa', 'Europe', 'North America']
#create a dictinoary travel_plans from both lists
travel_plans = dict(zip(continents, countries))
print(travel_plans)

{'Asia': 'Japan', 'Africa': 'Kenya', 'Europe': 'Germany', 'North America': 'Canada'}

In [ ]:
# update your travel plans to include South Africa
africa_list = []
africa_list.append("Kenya")
africa_list.append("South Africa")
travel_plans["Africa"] = africa_list
print(travel_plans)

{'Asia': 'Japan', 'Africa': ['Kenya', 'South Africa'], 'Europe': 'Germany', 'North America': 'Canada'}

In [ ]:
# update your travel plans to include a country from South America
travel_plans["South America"] = "Brazil"
print(travel_plans)

{'Asia': 'Japan', 'Africa': ['Kenya', 'South Africa'], 'Europe': 'Germany', 'North America': 'Canada', 'South America': 'Brazil'}

In [ ]:
# print out your travel plans
for k,v in travel_plans.items():
    if isinstance(v, list):
        print(f"I want to visit {v[0]} and {v[1]} in {k}")
    else:
        print(f"I want to visit {v} in {k}")

I want to visit Japan in Asia
I want to visit Kenya and South Africa in Africa
I want to visit Germany in Europe
I want to visit Canada in North America
I want to visit Brazil in South America

In [ ]:
attendees = ["Marie", "Sami", "Sumit", "Fred"]
attendance_list = []
for i in attendees:
    if i.startswith("S"):
        attendance_list.append(i)
    print(attendance_list)

[]
['Sami']
['Sami', 'Sumit']
['Sami', 'Sumit']

## List Comprehension

In [ ]:
# create a list of cubes of whole numbers from 1 to 5
cubes = []
number_list = [1,2,3,4,5]
for num in number_list:
    cubes.append(num ** 3)
print(cubes)

[1, 8, 27, 64, 125]

In [ ]:
#using list comprehension - create a list of cubes of whole numbers from 1 to 5
cubes = [num ** 3 for num in [1,2,3,4,5]]
print(cubes)

[1, 8, 27, 64, 125]

In [ ]:
#using list comprehension - create a list of cubes of whole numbers from 1 to 5
cubes = [num ** 3 for num in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

### List comprehension and conditionals

In [ ]:
# list of attendees
attendees = ["Philipp", "Peter", "Zheng", "Sarina", "Alessia", "Peter"]

# print out attendees whose name begin with letter 'P'
for name in attendees:
    if name.startswith('P'):
        print(name)

Philipp
Peter
Peter

In [ ]:
# list of attendees
attendees = ["Philipp", "Peter", "Zheng", "Sarina", "Alessia", "Peter"]

# print out attendees whose name begin with letter 'P'
print([name for name in attendees if name.startswith('P')])

# print out all attendees but highlight the attendees whose names begin with 'P'
print([name.upper() if name.startswith("P") else name for name in attendees])

['Philipp', 'Peter', 'Peter']
['PHILIPP', 'PETER', 'Zheng', 'Sarina', 'Alessia', 'PETER']

In [ ]:
# print only squares of the even numbers between 1 and 10
even_squares = [num**2 for num in range(1,11) if num % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100]

In [ ]:
# print all the numbers between 1 and 10, while squaring the even numbers
even_squares2 = [num**2 if num%2==0 else num for num in range(1,11)]
print(even_squares2)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [ ]:
players = ["Magnus", "Ju", "Li"]

tournament = [f"{i,j}" for i in players for j in players if i != j]
print(tournament)

["('Magnus', 'Ju')", "('Magnus', 'Li')", "('Ju', 'Magnus')", "('Ju', 'Li')", "('Li', 'Magnus')", "('Li', 'Ju')"]

## Dictionary Comprehensions

In [ ]:
# adjust the score of each student by 50%
students_scores = {'Josh': 40, "Nate": 60, "Jake": 75}

student_scores_adj = {k:v * 1.5 for k,v in scores.items()}
print(student_scores_adj)

# adjust the score of each student, but ensure the maximum score of any student is 100
student_scores_adj2 = {k:v * 1.5 if v * 1.5 < 100 else 100 for k,v in scores.items()}
print(student_scores_adj2)

{'Josh': 60.0, 'Nate': 90.0, 'Jake': 112.5}
{'Josh': 60.0, 'Nate': 90.0, 'Jake': 100}

In [ ]:
# dictionary of attendees and the respective length of their names
attendees = ["Philipp", "Peter", "Zheng", "Sarina", "Alessia", "Peter"]
len_names = {name: len(name) for name in attendees}
print(len_names)

{'Philipp': 7, 'Peter': 5, 'Zheng': 5, 'Sarina': 6, 'Alessia': 7}

## Functions

In [ ]:
def greetings():
    print("Hello there!")
    print("This is an intro to functions")
    print("Functions are awesome")

greetings()

Hello there!
This is an intro to functions
Functions are awesome

In [ ]:
# define a function with parameters
def hello(name, age):
    print(f"Hello {name}. You are {age} years old.")

def greeting(name, age=30):
  print(f"Hello {name}. You are {age} years old.")

In [ ]:
# call functions
hello("Zheng", 27)
greeting("Philipp")
greeting("Philipp", 29)

Hello Zheng. You are 27 years old.
Hello Philipp. You are 30 years old.
Hello Philipp. You are 29 years old.

In [ ]:
def sum_numbers(x,y):
    z = x + y
    return z

sum_numbers(5,6)

11

In [ ]:
# dollar to eur converter
def convert_usd_to_eur(amount, rate=0.94):
    converted_amount = amount * rate
    return converted_amount

In [ ]:
convert_usd_to_eur(500)

475.0

In [7]:
#convert_and_sum_list
def convert_and_sum_list(values_list, rate=0.94):
    converted_values = [v * rate for v in values_list]
    total = sum(converted_values)
    return total

In [8]:
convert_and_sum_list([100, 200])

282.0

## Intro to Pandas
There are many ways to create a pandas data frame.
One of such ways is with an using an Array.

### Creating a dataframe from an array

####1.1 Using numpy

In [ ]:
# creating an array
import numpy as np
array_data = np.array([[2,6], [3,5], [6,4]])
print(array_data)

[[2 6]
 [3 5]
 [6 4]]

In [ ]:
#creating the dataframe
import pandas as pd
df1 = pd.DataFrame(array_data)
print(df1)
df2 = pd.DataFrame(array_data, index=['row1', 'row2', 'row3'], columns = ['col1', 'col2'])
print(df2)

   0  1
0  2  6
1  3  5
2  6  4
      col1  col2
row1     2     6
row2     3     5
row3     6     4

####1.2 Without NumPy

In [ ]:
# you can also use a list to create an array
list_data = [[2,6],[3,5], [6,4]]
print(list_data)

[[2, 6], [3, 5], [6, 4]]

In [ ]:
#creating the dataframe
df3 = pd.DataFrame(list_data)
print(df3)

   0  1
0  2  6
1  3  5
2  6  4

In [ ]:
df4 = pd.DataFrame(list_data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2'])
print(df4)

      col1  col2
row1     2     6
row2     3     5
row3     6     4

### Creating a DataFrame from a dictionary

In [ ]:
# creating a dictionary
import pandas as pd
# lists used
states = ['Berlin', 'Hesse', 'Hamburg']
population = [50, 15, 35]
state_code = ['BE', 'HE','HH']

In [ ]:
# storing the lists in a dictionary
states_dct = {'State': states, 'Population': population, 'Code': state_code}

In [ ]:
#cteating the dataframe
df_states = pd.DataFrame(states_dct)
print(df_states)

     State  Population Code
0   Berlin          50   BE
1    Hesse          15   HE
2  Hamburg          35   HH

### Creating a DataFrame from a csv file

In [ ]:
# reading the csv file
import pandas as pd
df_scores = pd.read_csv("https://bit.ly/students_performance")

In [ ]:
df_scores

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

### Data Analysis with pandas

#### Initial inspection of your dataframe

In [ ]:
# show first 5 rows in a dataframe
df_scores.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# show last five rows in a dataframe
df_scores.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
# show first n number of rows
df_scores.head(n=10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
# accessing the shape attribute of your data
df_scores.shape

(1000, 8)

#### Pandas DataFrame Attributes

In [ ]:
# accessing the column attribute
df_scores.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
# accessing the index attribute
df_scores.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
# accessing the data types of each column
df_scores.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [ ]:
# locating the rows
simple_df = pd.DataFrame({'col1':[12,4,6], 'col2': [3,5,7]}, index=['row1','row2','row3'])
simple_df

      col1  col2
row1    12     3
row2     4     5
row3     6     7

In [ ]:
simple_df.loc[['row1', 'row2']]

      col1  col2
row1    12     3
row2     4     5

row1    12
row2     4
Name: col1, dtype: int64

In [ ]:
simple_df.iloc[1:3]

      col1  col2
row2     4     5
row3     6     7

#### Pandas DataFrame Methods

In [ ]:
# showing the info of the dataframe
df_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
# display a descriptive statistics of the dataframe
df_scores.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Using Python Built-in Functions with a DataFrame

In [ ]:
# displaying the length of the dataframe
len(df_scores)

1000

In [ ]:
# rounding the values of a dataframe
round(df_scores, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

#### Select columns from a dataframe

In [ ]:
# select two or more columns
df_scores[['parental level of education', 'math score']]

In [ ]:
# select two or more columns
df_scores[['math score']]

In [ ]:
type(df_scores[['math score']])

In [ ]:
type(df_scores['math score'])

### Slicing a dataframe using .loc attribute

In [ ]:
# using a single label - get the info on the first student in the dataset (i.e., get the values of the first row)
df_scores.loc[0]

In [ ]:
# accessing using a list of labels
df_scores.loc[[0,1,2,3,4]]

In [ ]:
# accessing using a single label or row and column
df_scores.loc[:,'gender']

In [ ]:
# select data using a single label for row and column
df_scores.loc[0, 'math score']

In [ ]:
# select data using a single column label
df_scores.loc[:, 'gender']

In [ ]:
# using a row labels and a single column label - get the math score of the first five students
df_scores.loc[0:5, 'math score']

In [ ]:
# using a row labels and a column labels - get the math scores of the first five students
df_scores.loc[0:5, 'math score']

In [ ]:
# using multiple row and column labels - get the math scores of the first five students
df_scores.loc[0:5, ['gender','math score']]

In [ ]:
# select the gender column as a series
df_scores['gender']

In [ ]:
# check if gender is female - note that Python is case sensitive
df_scores['gender'] == 'female'

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

In [ ]:
# verify the number of students that are female
sum(df_scores['gender']=='female')

518

In [ ]:
# restrict dataset to include only rows where gender is female
df_scores.loc[df_scores['gender'] == 'female']

In [ ]:
# restrict dataset to include only rows where gender is female - version 2
female_boolean_series = df_scores['gender'] == 'female'
df_scores.loc[female_boolean_series]

In [ ]:
# subset your dataframe to only the gender and math score columns
df_scores.loc[female_boolean_series, ['gender', 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
5    female          71
6    female          88
..      ...         ...
993  female          62
995  female          88
997  female          59
998  female          68
999  female          77

[518 rows x 2 columns]

In [ ]:
# assign result to a new dataframe
female_math_scores = df_scores.loc[female_boolean_series, ['gender', 'math score']]
female_math_scores

     gender  math score
0    female          72
1    female          69
2    female          90
5    female          71
6    female          88
..      ...         ...
993  female          62
995  female          88
997  female          59
998  female          68
999  female          77

[518 rows x 2 columns]

### Adding New Column to a dataframe

In [ ]:
# adding a new column using a numpy array
## create an array of elements using the np.arange method
import numpy as np
np.arange(0, 1000)

In [ ]:
## check the length of the array
len(np.arange(0,1000))

1000

In [ ]:
np.random.randint(1,100, 10)

array([63, 34, 96, 62, 76, 24, 63, 50, 90, 22])

In [ ]:
## add the column to the dataframe
df_scores['language_score'] = np.arange(0, 1000)
df_scores

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [ ]:
np.random.seed(42) # for reproducibility
df_scores['language_score'] = np.random.randint(1,100,1000)
df_scores

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,52
1,female,group C,some college,standard,completed,69,90,88,93
2,female,group B,master's degree,standard,none,90,95,93,15
3,male,group A,associate's degree,free/reduced,none,47,57,44,72
4,male,group C,some college,standard,none,76,78,75,61
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,42
996,male,group C,high school,free/reduced,none,62,55,55,41
997,female,group C,high school,free/reduced,completed,59,71,65,6
998,female,group D,some college,standard,completed,68,78,77,52
999,female,group D,some college,free/reduced,none,77,86,86,26

#### Dropping rows or columns

In [ ]:
# dropping the first row of the dataframe
df_scores.drop(0, axis=0)

In [ ]:
# drop row 2 and 5
df_scores.drop(index=[2,5])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,52
1,female,group C,some college,standard,completed,69,90,88,93
3,male,group A,associate's degree,free/reduced,none,47,57,44,72
4,male,group C,some college,standard,none,76,78,75,61
6,female,group B,some college,standard,completed,88,95,92,83
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,42
996,male,group C,high school,free/reduced,none,62,55,55,41
997,female,group C,high school,free/reduced,completed,59,71,65,6
998,female,group D,some college,standard,completed,68,78,77,52
999,female,group D,some college,free/reduced,none,77,86,86,26

In [ ]:
# drop the 'lunch' column
df_scores.drop(columns='lunch')

,gender,race/ethnicity,parental level of education,test preparation course,math score,reading score,writing score,language_score
0,female,group B,bachelor's degree,none,72,72,74,52
1,female,group C,some college,completed,69,90,88,93
2,female,group B,master's degree,none,90,95,93,15
3,male,group A,associate's degree,none,47,57,44,72
4,male,group C,some college,none,76,78,75,61
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,completed,88,99,95,42
996,male,group C,high school,none,62,55,55,41
997,female,group C,high school,completed,59,71,65,6
998,female,group D,some college,completed,68,78,77,52
999,female,group D,some college,none,77,86,86,26

In [ ]:
# drop the columns 'race/ethnicity' and 'parental level of education'
df_scores.drop(['race/ethnicity', 'parental level of education'], axis=1)

,gender,lunch,test preparation course,math score,reading score,writing score,language_score
0,female,standard,none,72,72,74,52
1,female,standard,completed,69,90,88,93
2,female,standard,none,90,95,93,15
3,male,free/reduced,none,47,57,44,72
4,male,standard,none,76,78,75,61
...,...,...,...,...,...,...,...
995,female,standard,completed,88,99,95,42
996,male,free/reduced,none,62,55,55,41
997,female,free/reduced,completed,59,71,65,6
998,female,standard,completed,68,78,77,52
999,female,free/reduced,none,77,86,86,26

#### Math Operations on DataFrame

In [ ]:
# calculate the total writing score of all students
df_scores['writing score'].sum()

68054

In [ ]:
# calculate the average writing and math score of all students
df_scores['writing score'].mean()
df_scores[['writing score','math score']].mean()

writing score    68.054
math score       66.089
dtype: float64

In [ ]:
# calculates the average score of all subjects
df_scores.mean(axis=0)

<ipython-input-190-574088821faf>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_scores.mean(axis=0)

math score        66.089
reading score     69.169
writing score     68.054
language_score    49.560
dtype: float64

In [ ]:
# find the sum of the writing and math score
df_scores['math score'] + df_scores['writing score']

0      146
1      157
2      183
3       91
4      151
      ...
995    183
996    117
997    124
998    145
999    163
Length: 1000, dtype: int64

In [ ]:
# find the minimum reading score
df_scores['reading score'].min()

17

In [ ]:
#calculate each student's total score
df_scores.sum(axis=1)

<ipython-input-201-f5ef5ef04577>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_scores.sum(axis=1)

0      270
1      340
2      293
3      220
4      290
      ...
995    324
996    213
997    201
998    275
999    275
Length: 1000, dtype: int64

#### Exercises

In [ ]:
# students with more than 50 in math
math_score_filter = df_scores['math score'] > 50
high_math_scores = df_scores.loc[math_score_filter]
high_math_scores['math score'].count()

850

In [ ]:
# average reading score of students whose parents have a bachelor's degree
bachelors_filter = df_scores['parental level of education'].str.contains('bachelor')
print(df_scores.loc[bachelors_filter]['reading score'].mean())

# average reading score of students whose parents have a master's degree
masters_filter = df_scores['parental level of education'] == "master's degree"
df_scores.loc[masters_filter]['reading score'].mean()

73.0

75.37288135593221

### value_counts()

In [ ]:
# count of male and female students
df_scores['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
# proportion (percentage) of male and female students
df_scores['gender'].value_counts(normalize=True).round(2)

female    0.52
male      0.48
Name: gender, dtype: float64

In [ ]:
df_scores['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

### grouby()

In [ ]:
# show the average reading score for male and female students
df_scores.groupby('gender')['reading score'].mean()

gender
female    72.608108
male      65.473029
Name: reading score, dtype: float64

In [ ]:
#average reading score by gender and test preparatio course
df_scores.groupby(["gender", "test preparation course"])["reading score"].mean()

gender  test preparation course
female  completed                  77.375000
        none                       69.982036
male    completed                  70.212644
        none                       62.795455
Name: reading score, dtype: float64

### sort_values()

In [ ]:
# sort by one column
df_scores.sort_values(by=['math score'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [ ]:
# sort descending by one column
df_scores.sort_values(by=['math score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [ ]:
# sort descending by multiple columns
df_scores.sort_values(by=['math score', 'reading score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

### Data Analysis Case Study

In [11]:
#import supermaket sales data - import pandas if you didn't already
df_sales = pd.read_csv("https://bit.ly/store_sales_record")

In [ ]:
df_sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28,Cash,618.38,4.761905,30.9190,6.6

In [12]:
df_sales["Date"] = pd.to_datetime(df_sales["Date"], format="%d/%m/%Y")

In [13]:
print(max(df_sales["Date"]))
print(min(df_sales["Date"]))

2019-03-30 00:00:00
2019-01-01 00:00:00

In [ ]:
# which city had the highest revenue in the first quarter of 2019?
df_sales.groupby("City", as_index=False)["Total"].sum().sort_values("Total", ascending=False)

        City        Total
1  Naypyitaw  110568.7065
2     Yangon  106200.3705
0   Mandalay  106197.6720

In [16]:
# which payment method generated the most revenue
df_sales.groupby("Payment", as_index=False)["Total"].sum()

       Payment       Total
0         Cash  112206.570
1  Credit card  100767.072
2      Ewallet  109993.107

In [17]:
# What is the largest category of customers (by customer type)
df_sales["Customer type"].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

In [20]:
# which payment method is used the most by members vs. normal customers
df_sales.groupby(["Customer type"], as_index=False)["Payment"].value_counts().sort_values(["Customer type","count"], ascending=False)

  Customer type      Payment  count
3        Normal      Ewallet    184
4        Normal         Cash    176
5        Normal  Credit card    139
0        Member  Credit card    172
1        Member         Cash    168
2        Member      Ewallet    161

In [21]:
# what is the mean rating for each branch?
df_sales.groupby("Branch")["Rating"].mean()

Branch
A    7.027059
B    6.818072
C    7.072866
Name: Rating, dtype: float64

In [ ]:
# Subset the dataset to only records for "Food and beverages".
food_beverages = df_sales.loc[df_sales["Product line"] == "Food and beverages"]

In [ ]:
# In which city should the more investment for food and beverages be channeled toward in the next quarter?
food_beverages.groupby("City")["Total"].sum()

City
Mandalay     15214.8885
Naypyitaw    23766.8550
Yangon       17163.1005
Name: Total, dtype: float64